* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*=======================================

Font Styling

========================================*/

@font-face{
  font-family: "RetroSignature";
  src: url('../fonts/RetroSignature.otf')
}

h1,
h2,
footer {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

h3 {
  font: 60px 'RetroSignature';
  src: url('../fonts/RetroSignature.otf')
}

p {
  font-family: 'Nunito', sans-serif;
}

/*=======================================

Header Styling

========================================*/

header {
   text-align: center;
   background: white;
   padding: 20px 0;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: black;
  text-decoration: none;
  font-family: 'Nunito'; sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0 20px;
}

header nav a:hover {
  color: #303030;
}

/*=======================================

Hero Styling

========================================*/

.home-hero-section {
  background: #f8f7f2;
  padding: 200px 0;
  text-align: center;
}

.about-hero-section {
  background: #f8f7f2;
  padding: 100px 0 300px 0;
  text-align: left;
}

.about-hero-section img {
  float: left;
}

.work-hero-section {
  background: #f8f7f2;
  padding: 200px 0;
  text-align: center;
}

.contact-hero-section {
  background: #f8f7f2;
  padding: 100px 0 300px 0;
  text-align: left;
}

.contact-hero-section img{
  float: left;
}

.blog-hero-section {
  background: #f8f7f2;
  padding: 200px 0;
  text-align: center;
}
.about {
  background: white;
  padding: 50px;
  text-align: center;
}

/*=======================================

Container Styling

========================================*/

.container {
  margin: 0 auto;
  text-align: center;
}

/*=======================================

Home Coaching Services Styling

========================================*/

.coaching-services {
  text-align: center;
}

.online-marketing-coach {
  width: 400px;
  display: inline-block;
  margin: 50px 20px;
}

.online-finance-coach {
  width: 400px;
  display: inline-block;
  margin: 150px;
}

.coaching {
  text-align: center;
}
.coaching img {
  width: 400px;
}

.home-contact {
  background: #f8f7f2;
  text-align: center;
}

/*=======================================

About Styling

========================================*/

.about-section {
  background: white;
  padding: 100px 0;
  text-align: center;
}

.left-half {
  float: left;
  margin: 10px 50px 50px 50px;
}

.right-half {
  float: right;
}
/*=======================================

Contact Form Styling

========================================*/

.contact-form {
  background: #f8f7f2;
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  font-family: sans-serif;
  margin: 20px auto;
  text-align: center;
}

.contact-button {
  text-decoration: none;
  background: white;
  padding: 5px 15px;
}

.label_input_wrap {
  display: block;
}

.submit input {
  background: white;
  padding: 5px 15px;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
  font-family: sans-serif;
  padding: 10px 10px;
  border-radius: 4px;
}

/*=======================================

Footer Styling

========================================*/

footer {
  background: #303030;
  color: white;
  padding: 10px 30px;
  text-align: left;
}

.footer-form {
  text-align: right;
}
footer img {
  width: 40px;
}
